<!DOCTYPE html>
<html lang="en">
<head>
  <title> Citibike Routes Map </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS linking -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">


</head>
<body>
    <h1>Citibike Routes Map for 2022</h1>
    <div class="container-fluid text-center" id="top-block">
	    <div class="row">
    		<div class="col-4">
    			<div id="center-vertically">
	    			<form method="post" id="filters">
						<label for="max_trip_duration">Trip duration (in seconds):</label><br>
	    				<div class="container text-center">
					    	<div class="row">
					    		<div class="col-6">
									<input type="text" id="min_trip_duration" name="min_trip_duration" placeholder="min"><br>
								</div>
					    		<div class="col-6">
									<input type="text" id="max_trip_duration" name="max_trip_duration" placeholder="max"><br>
								</div>
							</div>
						</div>


						<br><label for="min_date">Date range:</label><br>
						<div class="container text-center">
					    	<div class="row">
					    		<div class="col-6">
									<input type="date" id="min_date" name="min_date" placeholder="min">
								</div>
								<div class="col-6">
									<input type="date" id="max_date" name="max_date" placeholder="max"><br>
								</div>
							</div>
						</div>
						<br><label for="min_time">Time range:</label><br>

						<div class="container text-center">
					    	<div class="row">
					    		<div class="col-6">
									<input type="time" id="min_time" name="min_time"><br>
								</div>
								<div class="col-6">
									<input type="time" id="max_time" name="max_time"><br>
								</div>
							</div>
						</div><br>

						<label for="is_member">Member?:</label><br>
						<select id="is_member" name="is_member"><br>
						<option value="">All</option>
						<option value="True">Members only</option>
						<option value="False">Non-members only</option>
						</select>
						<br><br>
						<label for="min_time">Station ID:</label><br>
						<div class="container text-center">
					    	<div class="row">
					    		<div class="col-6">
									<input type="text" id="start_station_id" name="start_station_id" placeholder="Start"><br>
								</div>
								<div class="col-6">
									<!-- <label for="max_date">Lastest date:</label><br> -->
									<input type="text" id="end_station_id" name="end_station_id" placeholder="End"><br>
								</div>
							</div>
						</div>

						<hr>
						<input class="coolbutton" type="reset" value="Reset" id="reset">
						<input class="coolbutton" type="submit" value="Submit" id="submit">
					</form>
				</div>
    		</div>
			<div class="col-8">
				<button class="coolbutton" id="button_map">Reload Map</button>
				<button class="coolbutton" id="clear_markers">Clear Station Markers</button><br><br>
				<div id="map"></div>
			</div>
		</div>
    </div>
    

    <canvas width="100%" height="500" id="playground"></canvas>
	<span hidden id="api-key">{{key}}</span>
</body>

	<!-- JS linking -->
  	<script type="text/javascript">
		window.onload = function() {
			document.getElementById("submit").onclick = doWork;
		} 

		function doWork() {
			document.getElementById("submit").setAttribute("disabled",true);
			console.log($("#filters").serialize());
			// ajax the JSON to the server
			var filters = {
				"min_trip_duration": document.getElementById("min_trip_duration").value,
				"max_trip_duration": document.getElementById("max_trip_duration").value,
				"min_date": document.getElementById("min_date").value,
				"max_date": document.getElementById("max_date").value,
				"min_time": document.getElementById("min_time").value,
				"max_time": document.getElementById("max_time").value,
				"is_member": document.getElementById("is_member").value,
				"start_station_id": document.getElementById("start_station_id").value,
				"end_station_id": document.getElementById("end_station_id").value,
			}

			$.ajax({
				type: 'POST',
				url: '/',
				data: JSON.stringify(filters),
				contentType: "application/json",
				dataType: 'json'
			});
			event.preventDefault();  // stop link reloading the page
		}
		var loading = () => {
			var element = document.getElementById('loading');
			element.innerHTML = "Loading...";
		}
		let submit_button = document.getElementById("submit");
		submit_button.addEventListener("click", loading);
  	</script>
	<script src="../static/js/map_stations.js"></script>
	<script src="../static/js/table.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>
