<!DOCTYPE html>
<html lang="en">
<head>
  <title> Citibike Routes Map </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS linking -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">


</head>
    <h1>Map of Routes between Citibike Docks</h1>
    <form method="post" id="filters">
    <!-- <form method="post"> -->
      <label for="min_trip_duration">min_trip_duration:</label><br>
      <input type="text" id="min_trip_duration" name="min_trip_duration"><br>

      <label for="max_trip_duration">max_trip_duration:</label><br>
      <input type="text" id="max_trip_duration" name="max_trip_duration"><br>


      <label for="min_date">min_date:</label><br>
      <input type="date" id="min_date" name="min_date"><br>

      <label for="max_date">max_date:</label><br>
      <input type="date" id="max_date" name="max_date"><br>

      <label for="min_time">min_time:</label><br>
      <input type="time" id="min_time" name="min_time"><br>

      <label for="max_time">max_time:</label><br>
      <input type="time" id="max_time" name="max_time"><br>

      <label for="is_member">is_member:</label><br>
      <input type="checkbox" id="is_member" name="is_member"><br>


      <label for="start_station_id">start_station_id:</label><br>
      <input type="text" id="start_station_id" name="start_station_id"><br>

      <label for="end_station_id">end_station_id:</label><br>
      <input type="text" id="end_station_id" name="end_station_id"><br>

      <input type="submit" value="Submit" id="submit">
    </form>

    <form method="post" id="query">
      <input list="results">
      <datalist id="results">
        {% for i in range(0, results|length) %}
          <option value={{results[i]}} label={{i}}></option>
        {% endfor %}
        <option value=""></option>

      </datalist>

    </form>

    <button id="button_map">click here for map</button>
    <div id="map"></div>

    <canvas width="100%" height="500" id="playground"></canvas>
</body>

	<!-- JS linking -->
  <script type="text/javascript">
    window.onload = function() {
      document.getElementById("submit").onclick = doWork;
    } 

    // var cars = { 
    //   "make":"Porsche",
    //   "model":"911S" 
    // }

    function doWork() {
      console.log($("#filters").serialize());
      // ajax the JSON to the server
      var filters = {
        "min_trip_duration": document.getElementById("min_trip_duration").value,
        "max_trip_duration": document.getElementById("max_trip_duration").value,
        "min_date": document.getElementById("min_date").value,
        "max_date": document.getElementById("max_date").value,
        "min_time": document.getElementById("min_time").value,
        "max_time": document.getElementById("max_time").value,
        "is_member": document.getElementById("is_member").checked,
        "start_station_id": document.getElementById("start_station_id").value,
        "end_station_id": document.getElementById("end_station_id").value,
      }

      $.ajax({
          type: 'POST',
          url: '/',
          // data: JSON.stringify(cars),
          data: JSON.stringify(filters),
          success: function(data) { 
            alert('data: ' + data);
          },
          error: function() {
            alert("something went wrong")
          },
          contentType: "application/json",
          dataType: 'json'
      });
      // stop link reloading the page
      event.preventDefault(); 
    }
  </script>
	<script src="../static/js/map.js"></script>
	<script src="../static/js/table.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>
